@use "../base/variables" as v;
@use "../base/mixins" as m;

.formulario {
    border: 1px solid v.$gris;
    border-radius: 0.4rem;
    background-color: v.$grisClaro;
    padding: 0.8rem;
    .campos-tex {
        @include m.tablet {
            @include m.grid(2, 1rem);
        }
    }
    .campo {
        position: relative;
        margin: 0.4rem;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        label {
            text-align: center;
            flex: 0 0 2rem;
            @include m.tablet {
                text-align: right;
                margin-right: 0.4rem;
                flex: 0 0 5rem;
            }
        }
        input:not([type="submit"]),
        select,
        textarea {
            flex: 1;
            padding: 0.4rem;
            border: none;
            border-radius: 0.4rem !important;
            background-color: lighten(v.$gris, 30%);
        }
        option {
            text-align: center;
        }
        &.textarea {
            height: auto;
            flex-direction: column;
            label {
                flex: 0 0 1.2rem;
            }
            textarea {
                height: 5rem;
                width: 100%;
            }
        }
        input[type="submit"] {
            @include m.boton(v.$navy, v.$blanco);
        }
        &.submit {
            min-height: auto;
        }
    }
    &.login,
    &.regis{
        min-height: auto;
        display: flex;
        flex-direction: column;
        .campo{
            display: flex;
            flex-direction: column;
            @include m.tablet{
                flex-direction: row;
                gap: 0.5rem;
                label{
                    text-align: left;
                    width: 15%;
                }
            }
            input:not([type="submit"]){
                width: 100%;
                @include m.tablet{
                    width: 90%;
                }
            }
            input[type="submit"] {
                @include m.boton(v.$navy, v.$blanco);
            }
            &.remember{
                display: flex;
                flex-direction: row;
                justify-content: center;
                label{
                    min-width: 100%;
                    text-align: right;
                    margin: 0 auto;
                    width: auto;
                    input{
                        margin: 0.2rem;
                        padding: 0.2rem;
                        height: 1rem;
                        width: 1rem;
                    }
                }
            }
            &.submit{
                a{
                    text-align: center;
                    margin: 0.5rem;
                }
                @include m.tablet{
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}
